body,html {
	background: url("images/cinefamilia (2).jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFFFFF;
  margin-bottom: 40px;    
}

.container {
  position: relative;
  margin-top: 50px;
}
.generos {
	text-align: center;
}

/* Tamaños de las portadas iguales*/

.img-responsive{
	width: 360px;
	height: 514.15px;
}

/*texto para lectores de pantalla*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.scroll-to-top{
  text-decoration: none;
  position: fixed; 
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 36px;
  color: #FFFFFF;
}

.scroll-to-top:hover{
  text-decoration:none;
  color: #F5F5F5;
}