<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home-FIlmTube</title>
    <link rel="stylesheet" href="../static/css/styleHome.css" th:href="@{css/styleHome.css}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="../static/scripts/scriptPeliculas.js"></script>-->
</head>
<body>
<a href="#" class="scroll-to-top"><span class="glyphicon glyphicon-arrow-up"></span><span class="sr-only">Ir arriba</span></a>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <section class="container-fluid">
        <section class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/home}">FIlmTube</a>
        </section>
        <section class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/users}">Administrar Usuarios</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/movies}">Administrar Peliculas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button id="botonLogout" class="btn btn-link" type="submit"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search" th:action="@{/search}" method="get">
                <section class="input-group">
                    <input type="text" name="title" class="form-control" placeholder="Buscar" id="title"/>
                    <section class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </section>
                </section>
            </form>
        </section>
    </section>
</nav>

<section class="container">
    <h1>Hola <span sec:authentication="name"> user</span></h1>
    <h1 id="pelis">Películas</h1>
    <section class="row">
        <section class="col-md-4" th:each="mov : ${movies}">
            <section class="thumbnail" >
                <a class="image" th:href="@{/viewMovie(id=${mov.getId()})}">
                    <img th:src="${mov.poster}" th:alt="${mov.title}" style="width:100%"/>
                </a>
            </section>
        </section>
    </section>
</section>
</body>
</html>