<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - FIlmTube</title>
    <link rel="stylesheet" href="../static/css/styleLogin.css" th:href="@{css/styleLogin.css}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" />
</head>
<body>
<section class="header-log">
    <h th:if="${param.error}">Invalid Credentials</h>
    <h1 th:if="${param.logout}">Logged Out</h1>
    <h1 th:if="${param.logout==null and param.error==null}">Log In</h1>
</section>
<section class="login-page">
    <section class="form">
        <form th:action="@{/login}" class="login-form" method="post">
            <input type="text" placeholder="Nombre de Usuario" name="username"/>
            <input type="password" placeholder="Contraseña" name="password"/>
            <button type="submit" value="Sign In">Iniciar Sesión</button>
        </form>
    </section>
</section>
</body>
</html>