<!DOCTYPE html>
<html lang="es">
<head>
	<title>FIlmTube</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./stylePeliculas.css"/>
	<script type="text/javascript" src="scripts/scriptPeliculas.js"></script>
</head>
<body>
	<!-- Flecha para ir haciar el comienzo de la página -->
	<a href="#" class="scroll-to-top"><span class="glyphicon glyphicon-arrow-up"></span><span class="sr-only">Ir arriba</span></a>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<section class="container-fluid">
			<section class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
				<a class="navbar-brand" href="#">FIlmTube</a>
			</section>
			<section class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
					<li><a href="#Novedades">Novedades</a></li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Géneros <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#animacion">Animación</a></li>
							<li><a href="#cienciaFiccion">Ciencia Ficción</a></li>
							<!-- <li><a href="#">Page 1-3</a></li> -->
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
					<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Login Out</a></li>
				</ul>
			</section>
		</section>
	</nav>

	<section class="container">
		<h1 id="Novedades">Novedades</h1>
		<section class="row">
			<section class="col-sm-4">
				<h3 align="center">Capitán América</h3>
				<a href="#">
					<img src="images/capitan_america.jpg" class="img-responsive" alt="Portada Capitán América">
				</a>
			</section>
			<section class="col-sm-4">
				<h3 align="center">Big Hero 6</h3>
				<a href="#">
					<img src="images/big_hero.jpg" class="img-responsive" alt="Portada Big Hero 6">
				</a>
			</section>
			<section class="col-sm-4">
				<h3 align="center">Civil War</h3>
				<a href="#">
					<img src="images/Civil War.jpg" class="img-responsive" alt="Portada Civil War">
				</a>
			</section>
		</section>
		<h1 id="Genero">Géneros</h1>
		<section>
			<section class="row">
				<h2 class="generos" id="animacion">Animación</h2>
				<section class="col-sm-4">
					<h3 align="center">Big Hero 6</h3>
					<a href="#">
						<img src="images/big_hero.jpg" class="img-responsive" alt="Portada Big Hero 6">
					</a>
				</section>
			</section>
			<section class="row">
				<h2 class="generos" id="cienciaFiccion">Ciencia Ficción</h2>
				<section class="col-sm-4">
					<h3 align="center">Capitán América</h3>
					<a href="#">
						<img src="images/capitan_america.jpg" class="img-responsive" alt="Portada Capitán América">
					</a>
				</section>
				<section class="col-sm-4">
					<h3 align="center">Civil War</h3>
					<a href="#">
						<img src="images/Civil War.jpg" class="img-responsive" alt="Portada Civil War">
					</a>
				</section>
			</section>
		</section>
	</section>
</body>