<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="../static/css/styleSearch.css" th:href="@{css/styleSearch.css}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" />
<head>
    <title>Home-FIlmTube</title>
</head>
<body>
<section>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <section class="container-fluid">
            <section class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/home}">FIlmTube</a>
            </section>
            <section class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/users}">Administrar Usuarios</a></li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/movies}">Administrar Peliculas</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button id="botonLogout" class="btn btn-link" type="submit"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</button>
                        </form>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <section class="input-group">
                        <input th:action="@{/search}" type="text" name="title" class="form-control" placeholder="Buscar" id="title"/>
                        <section class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </section>
                    </section>
                </form>
            </section>
        </section>
    </nav>

    <!--<section class="container">-->
    <!--<h1 id="pelis">Resultado búsqueda</h1>-->
    <!--<section class="row">-->
    <!--<section class="col-md-4">-->
    <!--<section class="thumbnail" th:each="mov : ${movies}">-->
    <!--<a th:href="@{/viewMovie(id=${mov.getId()})}">-->
    <!--<img th:src="${mov.poster}" th:alt="${mov.title}" style="width: 100%"/>-->
    <!--</a>-->
    <!--</section>-->
    <!--</section>-->
    <!--</section>-->
    <!--</section>-->
    <section class="container-info">
        <section class="container-movie">
            <section class="movie">
                <section class="poster">
                    <!--<a><img th:src="${mov.poster}"></a>-->
                    <a><img src="../images/capitan_america.jpg" width="100" height=""/></a>
                </section>
                <section class="info-container">
                    <section class="title">Capitán América</section>
                    <section class="rating">10</section>
                    <section class="director">The Best One</section>
                    <section class="cast">
                        <section class="credits">Chris Evans, Tommy Lee Jones, ...</section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
</body>
</html>