body {
	background: url("images/cinefamilia (2).jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #FFFFFF;    
}

.navbar-brand {
	color: #FFFFFF;
}

.generos {
	text-align: center;
}