<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<link rel="stylesheet" href="../static/css/styleUsers.css" th:href="@{css/styleUsers.css}" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
      rel="stylesheet" />

<head>
    <title>Users - FIlmTube</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <section class="container-fluid">
        <section class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">FIlmTube</a>
        </section>
        <section class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/users}">Administrar Usuarios</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/movies}">Administrar Peliculas</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button id="botonLogout" class="btn btn-link" type="submit">Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <section class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar"/>
                    <section class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </section>
                </section>
            </form>
        </section>
    </section>
</nav>
<section class="container">
    <section class="row">
        <section class="col-sm-9">
            <h2>Usuarios</h2>
            <section class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Editar Borrar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="us : ${usuarios}">
                        <td th:text="${us.user}">Color</td>
                        <td th:text="${us.email}">Color</td>
                        <td>
                            <section class="btn-group">
                                <a th:href="@{/editUser(id=${us.getId()})}">
                                    <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span></button>
                                </a>
                                <a th:href="@{/deleteUser(id=${us.getId()})}">
                                    <button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> </button>
                                </a>
                            </section>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </section>
            <a th:href="@{/addUser}"><button class="btn btn-primary">Añadir Otro Usuario</button></a>
        </section>
    </section>
</section>
</body>
</html>