<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Película - FIlmTube</title>
    <link rel="stylesheet" href="../static/css/styleViewMovie.css" th:href="@{css/styleViewMovie.css}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Flecha para ir haciar el comienzo de la página -->
<a href="#" class="scroll-to-top"><span class="glyphicon glyphicon-arrow-up"></span><span class="sr-only">Ir arriba</span></a>
<!-- Barra de Navegación -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <section class="container-fluid">
        <section class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/home}">FIlmTube</a>
        </section>
        <section class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/users}">Administrar Usuarios</a></li>
                <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/movies}">Administrar Peliculas</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Secciones<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#ficha">Ficha Técnica</a></li>
                        <li><a href="#video">Película</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form th:action="@{/logout}" method="post">
                        <button id="botonLogout" class="btn btn-link" type="submit"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</button>
                    </form>
                </li>
            </ul>
            <form class="navbar-form navbar-right" role="search" th:action="@{/search}" method="get">
                <section class="input-group">
                    <input type="text" name="title" class="form-control" placeholder="Buscar Película" id="title"/>
                    <section class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </section>
                </section>
            </form>
        </section>
    </section>
</nav>
<section class="container" id="ficha">
    <section class="row">
        <section class="col-sm-4">
            <img th:src="${movie.poster}" class="img-responsive img-thumbnail" alt="Portada"/>
        </section>
        <section class="col-sm-8">
            <section class="container-info">
                <h2>Ficha Técnica</h2>
                <section class="well">
                    <p><b>Título: </b><span th:text="${movie.title}"></span></p>
                    <p><b>Sinópsis: </b><span th:text="${movie.description}"></span></p>
                    <p><b>Fecha de Estreno: </b><span th:text="${movie.year}"></span></p>
                    <p><b>Director: </b><span th:text="${movie.director}"></span></p>
                    <p><b>Casting: </b><span th:text="${movie.actors}"></span></p>
                    <p><b>Valoración: </b><span th:text="${movie.rating}"></span></p>
                </section>
            </section>
        </section>
    </section>
</section>
<section>
    <section class="container">
        <h2 id="video">Película</h2>
        <section class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" th:src="${movie.url}"></iframe>
        </section>
    </section>
</section>
</body>
</html>